.main__container__window {
	border: solid black 1px;
}

/* ?MOVEMENTS */
.movements {
	display: flex;
	overflow-y: auto;
	font-family: 'poppins';
}

.movements__row {
	flex-grow: 1;
	flex-direction: column;

	padding: 0.5rem;
	display: flex;
	/* align-items: flex-start; */
	border-bottom: 1px solid #eee;
	margin: 0.1rem;
}

.movements__type {
	font-size: 1.3rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	padding: 0.1rem 1rem;
	border-radius: 10rem;
	/* margin-right: 2rem; */
}

.movements__date {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #666;
}

.movements__type__deposit {
	/* background-image: linear-gradient(to top left, #39b385, #9be15d); */
	background-color: #597081;
	/* min-width: 6rem; */
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	padding: 0.5rem;
	min-width: 10rem;
	margin-bottom: 0.5rem;

	/* border-radius: 10rem; */
}

.movements__type__withdrawal {
	/* background-image: linear-gradient(to top left, #e52a5a, #ff585f); */
	background-color: #a8577e;
	font-size: 1.3rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	padding: 0.5rem;
	min-width: 10rem;
	margin-bottom: 0.5rem;
}

.movements__value {
	font-size: 1.2rem;
	margin-left: auto;
	font-weight: bold;
}

.movements__category {
	font-weight: bold;
	font-size: 1.3rem;
}

ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0.2rem;
	align-items: stretch;
	flex-grow: 1;
	width: 100%;
}
/* 
@media (max-width: 576px) {
	.movements__row {
		flex-grow: 1;
		flex-direction: column;
		width: 100%;

		padding: 0.1rem;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #eee;
		margin: 0.1rem;
	}

	.movements__type__withdrawal {
		font-size: 0.9rem;
		text-transform: uppercase;
		font-weight: 500;
		color: #fff;
		padding: 0.3rem;
		min-width: 8rem;
		margin-bottom: 0.3rem;
	}

	.movements__type {
		font-size: 0.9rem;
		text-transform: uppercase;
		font-weight: 500;
		color: #fff;
		padding: 0.1rem 1rem;
		border-radius: 10rem;
	}
	ul {
		display: flex;
		flex-direction: column;
		list-style-type: none;
		padding: 0.2rem;
		align-items: stretch;
		flex-grow: 1;
		width: auto;
	}
} 

*/
