.main__container__window {
	border: solid black 1px;
	/* border-radius: 1rem; */
}

/* ?MOVEMENTS */
.movements {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	/* grid-row: 2 / span 3; */
	background-color: #fff;
	overflow-y: auto;

	/* min-width: 50rem; */
}

.movements__row {
	flex-grow: 1;

	padding: 1rem 1rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #eee;
	margin: 0.2rem;
}

.movements__type {
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	padding: 0.1rem 1rem;
	border-radius: 10rem;
	margin-right: 2rem;
}

.movements__date {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #666;
}

.movements__type__deposit {
	background-image: linear-gradient(to top left, #39b385, #9be15d);
	margin-right: 6rem;
	/* min-width: 6rem; */
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	padding: 0.1rem 1rem;
	border-radius: 10rem;
	margin-right: 6.6rem;
}

.movements__type__withdrawal {
	background-image: linear-gradient(to top left, #e52a5a, #ff585f);
	margin-right: 3.5rem;
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	padding: 0.1rem 1rem;
	border-radius: 10rem;
	margin-right: 4rem;
}

.movements__value {
	font-size: 1.2rem;
	margin-left: auto;
}

ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 0.2rem;
	padding: 0.2rem;
	align-items: stretch;
}
