.operation {
	border-radius: 1rem;
	padding: 1.8rem 3.5rem;
	color: #333;
}

.operation__loan {
	background-image: linear-gradient(to top left, #39b385, #9be15d);
	margin-top: 1rem;
	margin-right: 5rem;
	border: solid black 1px;
	border-radius: 1rem;
	padding: 1.8rem 3.5rem;
	color: #333;
	border-radius: 1rem;
	padding: 1.8rem 3.5rem;
	color: #333;
}

.form__loan {
	grid-template-columns: 1.5fr 1fr 1.5fr;
	/* min-width: 3rem; */
}

.form__label__loan {
	grid-row: 2;
	font-size: 1.2rem;
}

.form {
	display: grid;
	grid-template-columns: 2.5fr 2.5fr 1fr;
	grid-template-rows: auto auto;
	gap: 0.4rem 1rem;
}

.form__input {
	width: 100%;
	border: none;
	background-color: rgba(255, 255, 255, 0.4);
	font-family: inherit;
	font-size: 1.5rem;
	text-align: center;
	color: #333;
	padding: 0.3rem 0.3rem;
	border-radius: 0.7rem;
	transition: all 0.3s;
}

h2,
.fx__label {
	margin-bottom: 1.5rem;
	font-size: 1.7rem;
	font-weight: 600;
	color: #333;
}

.form__btn__loan {
	border-radius: 0.7rem;
	font-size: 2rem;
	width: 100%;
	grid-column: span 2;
}

.form__btn__loan:hover {
	cursor: pointer;
}
