.MainWrapper {
	/* margin: auto; */
	/* margin-right: 2rem; */
	/* height: 90%; */
	/* width: auto; */
	padding: 2rem;
	background-color: whitesmoke;
	border: solid black 3px;
	border-radius: 5px;
	border-style: outset;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
	margin: auto;
}

@media (max-width: 576px) {
	.MainWrapper {
		margin: 0;
		padding: 0.2rem;
		max-width: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
	}
}
