.wrapper {
	height: calc(100vh - 0rem);
	background-color: #343a40; /* Replace with your preferred background color */
}

.loginBoxSigningIn {
	display: none;
}

.loginBoxSignInSuccess {
	display: flex;
}
/* 
@media (max-width: 576px) {
	.wrapper {
		height: fit-content;
		padding: 1rem;
	}
} */
