.homepage {
	height: 50vh;
	background-color: #343a40; /* Replace with your preferred background color */
}

.homepage section {
	display: flex;
	flex-direction: column;
	height: 85%;
	align-items: center;
	justify-content: center;
	/* gap: 2.5rem; */
	text-align: center;
}

.homepage h1 {
	color: antiquewhite;
	font-size: 4.5rem;
	line-height: 1.3;
	animation: slideDown 0.75s 1 ease-in-out forwards;
	margin-top: 10rem;
}

.homepage h2 {
	color: antiquewhite;
	width: 90%;
	font-size: 1.9rem;
	margin-bottom: 2.5rem;
	animation: slideUp 1s 1 ease-in-out forwards;
}
/* 
@media (max-width: 900px) {
	.homepage {
		height: 100dvh;
	}
}

@media (max-width: 800px) {
	.homepage h1 {
		font-size: 3.75rem;
		line-height: 1.1;
	}

	.homepage h2 {
		font-size: 1.5rem;
	}

	.homepage {
		height: 100dvh;
	}
}

@media (max-width: 576px) {
	.homepage h1 {
		font-size: 1.5rem;
		line-height: 1.1;
	}

	.homepage {
		height: 100dvh;
	}

	.homepage h2 {
		font-size: 1rem;
	}
} */

@keyframes slideDown {
	from {
		opacity: 0;
		transform: translateY(-600px);
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(400px);
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}
