.body {
	background-color: rgb(238, 235, 235);
	overflow-x: hidden;
	overflow-y: hidden;
	/* filter: invert(100%); */
	font-family: 'Roboto Mono';
}

@media (max-width: 576px) {
	.pie_wrapper {
		padding: 0;
	}
}
