.wrapper {
	margin: 0.5rem;
	height: calc(100vh - 6rem);
	background-image: linear-gradient(
			rgba(36, 42, 46, 0.8),
			rgba(36, 42, 46, 0.8)
		),
		url('../../public/pexels-pixabay-265087.jpg');
	background-size: cover;
	background-position: center;
	padding: 1.5rem 2.5rem;
}

@media (max-width: 576px) {
	.wrapper {
		height: fit-content;
		padding: 1rem;
	}
}
