.animate {
	animation: slideUp 0.4s 1 ease-in-out forwards;
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(500px);
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

@media (max-width: 576px) {
	.pie_wrapper {
		padding: 0;
	}
}
