/* ?MOVEMENTS */
.movements {
	display: flex;
	overflow-y: auto;
	font-family: 'poppins';
	margin-top: 0.25rem;
	margin-bottom: 1rem;
	padding: 0.5rem;
}

.movements__row {
	flex-grow: 1;
	flex-direction: column;
	/* padding: 0.5rem; */
	display: flex;
	margin-top: 0.1rem;
	margin-bottom: 0.2rem;
	width: 100%;
}

.movements__type {
	font-size: 1.3rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	padding: 0.1rem 1rem;
	border-radius: 10rem;
}

.movements__date {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #666;
}

.movements__type__deposit {
	background-color: #597081;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	padding: 0.5rem;
	width: 10rem;
	margin-bottom: 0.1rem;
}

.movements__type__expense {
	background-color: #a8577e;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	padding: 0.5rem;
	width: 10rem;
	margin-bottom: 0.1rem;
}

.movements__value {
	font-size: 1.2rem;
	margin-left: auto;
	font-weight: bold;
}

.movements__category {
	font-weight: bold;
	font-size: 1.3rem;
}

.movements__row__animate {
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	flex-grow: 1;
	flex-direction: column;
	display: flex;
	animation: slideUp 0.25s 1 ease-in-out forwards;
}

.movements__row__edit {
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	flex-grow: 1;
	flex-direction: column;
	display: flex;
	animation: slideUp 0.25s 1 ease-in-out forwards;
}

ul {
	padding: 0;
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}
