.main__container__window {
	border: solid black 1px;
}

/* ?MOVEMENTS */
.movements {
	display: flex;
	overflow-y: auto;
	font-family: 'poppins';
}

.movements__row {
	flex-grow: 1;
	flex-direction: column;

	padding: 0.5rem;
	display: flex;
	border-bottom: 1px solid #eee;
	margin: 0.1rem;
}

.movements__type {
	font-size: 1.3rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	padding: 0.1rem 1rem;
	border-radius: 10rem;
}

.movements__date {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #666;
}

.movements__type__deposit {
	background-color: #597081;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	padding: 0.5rem;
	width: 10rem;
	margin-bottom: 0.1rem;
}

.movements__type__expense {
	background-color: #a8577e;
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff;
	padding: 0.5rem;
	width: 10rem;
	margin-bottom: 0.1rem;
}

.movements__value {
	font-size: 1.2rem;
	margin-left: auto;
	font-weight: bold;
}

.movements__category {
	font-weight: bold;
	font-size: 1.3rem;
}

/* ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0.2rem;
	align-items: stretch;
	flex-grow: 1;
	width: 100%;
	min-height: 30rem;
} */

.list {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0.2rem;
	align-items: stretch;
	flex-grow: 1;
	width: 100%;
	min-height: 30rem;
}
