* {
	box-sizing: border-box;
	margin: 0;
}

body::-webkit-scrollbar {
	display: none;
}

body {
	/* height: 100vh;
	font-family: 'Poppins', sans-serif;
	font-size: 62.5%;
	color: #444;
	background-image: linear-gradient(to bottom right, #1d2225, #0e0e0f); */

	/* margin: 0.5rem;  */
	/* height: calc(100vh - 6rem); */

	height: 100vh;
	background-image: linear-gradient(
			rgba(36, 42, 46, 0.8),
			rgba(36, 42, 46, 0.8)
		),
		url('../public/pexels-pixabay-265087.jpg');
	background-size: cover;
	background-position: center;
	/* padding: 2.5rem 5rem; */
}

@media (max-width: 1400px) {
	.canvas {
		height: 450px;
		width: 450px;
		margin-top: 1rem;
	}
}

@media (max-width: 1025px) {
	.canvas {
		height: 375px;
		width: 375px;
	}
}

@media (max-width: 800px) {
	.canvas {
		height: 300px;
		width: 300px;
	}
}

@media (max-width: 576px) {
	body,
	html {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	.pie_wrapper {
		padding: 0;
	}

	.canvas {
		margin-top: 2rem;
		padding: 0;
		margin-left: 0;
		margin-right: 0.5rem;
	}
}
